<ng-container *ngIf="audit">

  <div class="mt-4">
    <div class="row">
      <div class="col-md-8">
        <h6 class="font-14">Filepath:</h6>
        <p class="text-sm lh-150">{{ audit.filePath }}</p>
      </div>
      <div class="col-md">
        <h6 class="font-14">Status:</h6>
        <p class="text-sm lh-150">{{ audit.status }}</p>
      </div>
    </div>
  </div>


  <div class="mt-4">
    <div class="row">
      <div class="col-md-8">
        <h6 class="font-14">
          Rule
        </h6>
      </div>
      <div class="col-md">
        <h6 class="font-14">
          Score
        </h6>
      </div>
    </div>

    <div *ngFor="let m of audit.matches">
      <div class="row">
        <div class="col-md-8">
          {{ m.rule.name }}
        </div>
        <div class="col-md">
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" [style.width]="m.score+'%'"
              [attr.aria-valuenow]="m.score" aria-valuemin="0" aria-valuemax="100">{{ m.score }} %</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-container>
