<h2>Audit</h2>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
  <thead>
    <tr>
      <th>PDF</th>
      <th>Status</th>
      <th width="5%">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of audits">
      <td>
        <a [routerLink]="['/audit', a.id]">{{ a.filePath }}</a>
      </td>
      <td>
        {{ a.status }}
      </td>
      <td>
        <a [routerLink]="['/audit-retry', a.id]" class="text-warning me-3"><fa-icon [icon]="faRedo"></fa-icon></a>
      </td>
    </tr>
  </tbody>
</table>
